---
layout: default
---

article
  .jumbotron
    .container
      header.row
        .col-sm-12
          h1= document.title
          if document.quote
            blockquote!= document.quote

  .container
    .row
      .col-md-7
        != content
      .col-md-5
        if document.location
          h3.location!= document.location
        ul.gallery.row
          each file in getDocument().getAssociatedFiles().toJSON()
            li.col-xs-4.col-md-4
              a(href="#{file.url}", data-gallery, title="#{file.basename}").thumbnail
                img(src!=getThumbnail(file.url, "zoomcrop", {w: 100, h: 100}), alt="Photo of #{file.name}", title="View this image", width="100", heigth="100")

#blueimp-gallery.blueimp-gallery
  .slides
  a.prev ‹
  a.next ›
  a.close ×
  a.play-pause
  ol.indicator
  .modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button",aria-hidden="true") &times;
        .modal-body.next
        .modal-footer
          button.btn.btn-default.pull-left.prev(type="button")
            i.glyphicon.glyphicon-chevron-left
            span Previous
          button.btn.btn-primary.next(type="button")
            span Next
            i.glyphicon.glyphicon-chevron-right
